.table-box {
    margin: 100px auto;
    width: 1024px;
}

/* 滚动条宽度 */
::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

/* 滚动条颜色 */
::-webkit-scrollbar-thumb {
    background-color: #27314d;
}


table {
    width: 100%;
}

table caption {
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
}

table col:nth-child(2n) {
    width: 30%;
}

table th,
table td {
    height: 50px;
    text-align: center;
    border: 1px solid gray;
    overflow: hidden;
}

table thead {
    color: white;
    background-color: #38F;
}

table tbody {
    display: block;
    width: calc(100% + 8px);
    /*这里的8px是滚动条的宽度*/
    height: 300px;
    overflow-y: auto;
}

table tfoot {
    background-color: #71ea71;
}

table thead tr,
table tbody tr,
table tfoot tr {
    box-sizing: border-box;
    table-layout: fixed;
    display: table;
    width: 100%;
}

table tbody tr:nth-of-type(odd) {
    background: #EEE;
}

table tbody tr:nth-of-type(even) {
    background: #FFF;
}

table tbody tr td {
    border-bottom: none;
}